*/.env*
*/node_modules/
resources/*.png
resources/gifs
*/package-lock.json
*/out*
*/build*
next/public
*/*/img
*/artifacts
next/.next
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/yarn.lock

