@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&display=swap');

@font-face {
    font-family: 'SFPro';
    src: url('./fonts/SFPro-Thin-Web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
		margin: 0;
		padding: 0;
}

@font-face {
    font-family: 'SFMono';
    src: url('./fonts/SFMono-Regular-Web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
		margin: 0;
		padding: 0;
}

@font-face {
    font-family: 'EarthOrbiter';
    src: url('./fonts/EarthOrbiter-Web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
		margin: 0;
		padding: 0;
}

@font-face {
    font-family: 'Bioliquid';
    src: url('./fonts/Bioliquid-Web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
		margin: 0;
		padding: 0;
}

body {
  margin: 0;
  font-family: 'SFPro';
  color: #000000;
  background-image: linear-gradient(94deg, rgba(255,0,0,1) 0%, rgba(1,200,196,1) 33%, rgba(198,124,37,1) 66%, rgba(1,196,146,1) 100%);
  animation: gradient 60s ease infinite;
  background-size: 400% 400%;
  border-radius: 0px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'SFMono',
    monospace;
}

.Minter {
  background-image: linear-gradient(45deg, rgba(217,217,217,0.7) 0%, rgba(148,148,148,0.7) 100%);
  animation: gradient 60s ease infinite;
  background-size: 400% 400%;
  border-radius: 15px;
  max-width: 80%;
  padding: 50px 50px;
  margin: 50px auto;
  text-align: left;
  float: center;
}
@media only screen and (max-width: 550px) {
    .Minter {
        border-radius: 10px;
        padding: 15px 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

.Mobile {
  background: rgba(138, 177, 255, 0.9);
  border-color: rgba(4, 4, 5, 0.1);
  border-radius: 15px;
  max-width: 80%;
  padding: 50px 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.mobile-buttons {
  font-family: 'Bioliquid';
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.Samples {
  background: rgba(138, 177, 255, 0.9);
  border-color: rgba(4, 4, 5, 0.1);
  border-radius: 15px;
  max-width: 80%;
  padding: 50px 50px;
  margin: 50px auto;
  text-align: left;
  float: center;
}
@media only screen and (max-width: 550px) {
    .Samples {
        border-radius: 10px;
        padding: 15px 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0 auto;
    }
}

.Algorithm {
  background: rgba(138, 177, 255, 0.9);
  border-color: rgba(4, 4, 5, 0.1);
  border-radius: 15px;
  max-width: 80%;
  padding: 50px 50px;
  margin: 50px auto;
  text-align: left;
  float: center;
}
@media only screen and (max-width: 550px) {
    .Algorithm {
        border-radius: 10px;
        padding: 15px 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0 auto;
    }
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-family: 'SFMono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  width: 100%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
  font-family: 'SFMono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

::placeholder {
  font-family: 'SFMono';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

input:-webkit-autofill:active {
  font-family: 'SFMono';
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

h1 {
  font-size: 44px;
  font-weight: 1200;
  font-family: 'Bioliquid';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@media only screen and (max-width: 550px) {
    h1 {
        font-size: 30px;
    }
}

h2 {
  font-size: 24px;
  font-weight: 800;
  font-family: 'Bioliquid';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@media only screen and (max-width: 550px) {
    h2 {
        font-size: 18px;
    }
}

h3 {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Bioliquid';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@media only screen and (max-width: 550px) {
    h3 {
        font-size: 16px;
    }
}

h4 {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Major Mono Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@media only screen and (max-width: 550px) {
    h4 {
        font-size: 12px;
    }
}

h5 {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Major Mono Display';
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  column-count: 4
}
@media only screen and (max-width: 550px) {
    h5 {
        font-size: 12px;
    }
}

a { color: inherit }

h6 {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  font-family: 'Major Mono Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form {
  font-family:'SFMono';
}
@media only screen and (max-width: 960px) {
    .form {
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      display: flex;
    }
}

button {
  appearance: none;
  border: none;
  padding: 9px 16px;
  max-height: 40px;
  border-radius: 5px;
  align-items: center;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (max-width: 960px) {
    button {
        font-size: 13px;
        padding: 6px 9px;
        border-radius: 4px;
    }
}

button:hover {
  transform: scale(1.2);
}

#title {
  margin-top: 10px;
  font-family: 'Bioliquid';
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 680px) {
    #title {
        margin-top: 30px;
    }
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

#walletButton {
  text-align: right;
  float: right;
  margin-top: 10px;
  line-height: 16px;
  font-family: 'Bioliquid';
  color: #ffffff;
  background: linear-gradient(30deg, rgba(198,93,231,1) 0%, rgba(122,106,255,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#walletButton:hover {
  background: black;
  color: #ffffff;
  font-weight: 1200;
}

.mint-refresh {
  margin-right: 0px;
}
@media only screen and (max-width: 680px) {
    .mint-refresh {
        justify-content: center;
        display: flex;
        margin: 0 auto;
        align-items: center;
    }
}

#switchWalletButton {
  text-align: right;
  float:right;
  margin-top: 10px;
  margin-right: 5px;
  line-height: 16px;
  font-family: 'Bioliquid';
  color: #ffffff;
  background: linear-gradient(30deg, rgba(198,93,231,1) 0%, rgba(122,106,255,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#switchWalletButton:hover {
  background: black;
  color: #ffffff;
  font-weight: 1200;
}

#sampleButton {
  text-align: center;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 16px;
  font-family: 'Bioliquid';
  color: #ffffff;
  background: linear-gradient(30deg, rgba(198,93,231,1) 0%, rgba(122,106,255,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sampleButton:hover {
  background: black;
  color: #ffffff;
  font-weight: 1200;
}

#mintButton {
  margin-top: 0px;
  border-color: none;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 16px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Bioliquid';
  background: linear-gradient(30deg, rgba(198,93,231,1) 0%, rgba(122,106,255,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mintButton:hover {
  background: black;
  color: #ffffff;
  font-weight: 1200;
}

#signButton {
  text-align: right;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  line-height: 16px;
  font-family: 'Bioliquid';
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(30deg, rgba(198,93,231,1) 0%, rgba(122,106,255,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#signButton:hover {
  background: black;
  color: #ffffff;
  font-weight: 1200;
}

.news {
  font-size: 18px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  color: black;
  font-weight: 600;
  font-family: 'Major Mono Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -20px;
}
@media only screen and (max-width: 960px) {
    .news {
        font-size: 14px;
        margin-top: -20px;
        display: block;
    }
}


.blink_me {
  animation: blinker 3s linear infinite;
}
.blink_fast {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  20% {
    opacity: 0.25;
  }
}

.errorbox {
  position: absolute;
  justify-content: space-between;
  border-color: inherit;
  background-color: black;
  border-radius: 8px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  margin-top: 30px;
  animation: blinker 2s ease infinite;
  font-family: 'Major Mono Display';
}

@media only screen and (max-width: 960px) {
    .errorbox {
        display: flex;
        justify-content: center;
        margin: 30px auto;
        width: 75%;
        font-size: 14px;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.errorbox2 {
  position: absolute;
  justify-content: space-between;
  border-color: inherit;
  background-color: black;
  border-radius: 8px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  margin-top: 30px;
  animation: blinker 2s ease infinite;
  font-family: 'Major Mono Display';
}

@media only screen and (max-width: 960px) {
    .errorbox2 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 75%;
        font-size: 14px;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.img-front {
  float: right;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 337px;
  height: 400px;
}
@media only screen and (max-width: 680px) {
    .img-front {
      float: none;
      justify-content: center;
      display: flex;
      margin: 0 auto;
      width: 253px;
      height: 300px;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
